/*******************
    LINKS
********************/
a {
    color: #868e96;
}

    a:hover {
        color: #f205cb;
    }

/*******************
    Navbar and DropDown Menu
********************/

header .navbar li.nav-item .nav-link.active {
    color: #f205cb;
}

header .navbar li.nav-item .nav-link:hover {
    color: #f205cb;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

header .navbar .dropdown-menu .dropdown-item:hover {
    color: #f205cb;
}

header .navbar .dropdown-menu .dropdown-item.active {
    background: #f205cb;
    color: #fff;
}


header .navbar .dropdown-menu:before {
    /*display: none;*/
    background-color: #f205cb;
}

header .navbar .dropdown-menu .dropdown-item:active {
    background-color: unset;
}

header .navbar .dropdown-menu {
    font-size: .8em;
}

.ml-3, .mx-3 {
    margin-left: unset !important;
}

header .navbar {
    background: unset !important
}

#registerLink, #loginLink {
    color: white;
}

#registerLink:hover, #loginLink:hover {
        color: #f205cb;
}

.navbar > .container, 
.navbar > .container-fluid {
    text-align: center;
}

/*#ShoppingCart{
    margin-top: 1.5em;
}*/

@media (max-width: 992px) {
    header {
        background-color: #7ABFB3;
        font-weight: 600;
    }
}
/*************************
    FOOTER
**************************/
/*targeting template link in footer*/
div .text-md-center > p a.template {
    color: #f205cb;
}


div.text-md-center > p {
    font-size: 12px;
}

.socialLinks {
    display: flex;
    margin: auto;
    width: 15%;
}

/*************************
    Login Page
*************************/
.loginForm {
    width: 80%;
    margin: auto;
}

/********************
    LoginPartial
*********************/
header .navbar .dropdown-menu a {
    padding: 7px;
}

/*All buttons*/
.btn {
    color: white;
    cursor: pointer;
    background-color: #f205cb;
    border-color: unset;
}
/*INDEX: Home Controller*/
h2, h3, h4 {
    color: #f205cb;
}

.img-thumbnail:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.mainTitle:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/********************
    Contact
********************/

span.phoneNumber {
    color: #868e96;
}

    span.phoneNumber :hover {
        color: #f205cb;
    }

/*************************
    Services
**************************/

.heading-wrap h2:before {
    background: #f205cb;
}

/**************************
    Forgot Password
**************************/
.forgotPassword {
    margin: auto;
    width: 60%;
}


/******************
    Index, Edit, Create, Delete BakeriesController
***********************/

.img-thumbnail {
    border: unset;
    width: 255px;
    height: 200px;
}

.containerRight {
    margin-top: 2.3em;
}

.mainContainer > .row {
    padding: 4em;
}

.btn-primary:hover {
    background-color: #f205cb;
    border-color: unset;
}

.btn-primary:active {
    background-color: unset;
}

.dropDown {
    height: 50px !important;
}

.mainEdit {
    margin: auto;
    width: 60%;
}


