@{
    ViewBag.Title = "About Cupcakery";
}





<section class="section mainSection">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="text-center mainAboutTitle">@ViewBag.Title</h2>
            <div class="col-md-12 mb-5">
                <p class="mb-5"><img src="~/Content/img/mockaroon-bzLhhI3MpYY-unsplash.jpg" alt="" class="img-fluid"></p>

                <div class="row justify-content-center">
                    <div class="col-md-7 mb-5">
                        <h2 class="mb-5">Baking is Life</h2>
                        <p>Hello, I am Jasmyne. Founder and Owner of Cupcakery. What would life be without a sweet treat every once and awhile? It would be boring. That is why I decide to make it part of my life.</p>
                        <blockquote class="float-left quote-content">
                            <span class="quote">&ldquo;</span>
                            <p class="text">Cupcakery makes the best goods for any occasion. - Dakota Jones</p>
                        </blockquote>
                        <p>This all started back in my my home kitchen more two decades ago! I built a loyal customer base and it took off from there. This place wouldn't be what it is today without my supporters. </p>
                        <p>We offer our everyday treats as well as some seasonal treats that are only available for limited time. Don't wait too long. They sell out fast.</p>
                    </div>
                </div>
                <p class="mb-5"><img src="~/Content/img/nadya-spetnitskaya-tOYiQxF9-Ys-unsplash.jpg" alt="" class="img-fluid"></p>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <blockquote class="float-right quote-content">
                            <span class="quote">&ldquo;</span>
                            <p class="text">My family has been going to Cupcakery since before my time. I am happy I get to keep up the tradition in my family. - Marilyn Wright</p>
                        </blockquote>
                        <h2 class="mb-5">Founded in 1995</h2>
                        <p>This was foundeded over 20 years ago but baking has been in my heart for much longer. I come from a long line of bakers. My mom and many grandmothers before have passed down these delicious recipes that I love to share at Cupcakery.</p>
                        <p>So, don't be shy come visit us at the shop or if you are too far to visit us in person, order online today. Guarenteed fresh!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

