@{
    ViewBag.Title = "About";
}

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 mb-5">
                <p class="mb-5"><img src="~/Content/img/mockaroon-bzLhhI3MpYY-unsplash.jpg" alt="" class="img-fluid"></p>

                <div class="row justify-content-center">
                    <div class="col-md-7 mb-5">
                        <h2 class="mb-5">Baking is Life</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, ab veniam, amet ut at ipsum accusamus! Libero fugiat reiciendis architecto dignissimos, magnam iusto rerum recusandae quidem id omnis optio numquam.</p>
                        <blockquote class="float-left quote-content">
                            <span class="quote">&ldquo;</span>
                            <p class="text">Cupcakes and Cookies make the best goods for any occasion. fficia minus quas illum nam, beatae modi libero, harum aliquid totam quia nostrum blanditiis accusamus a, illo unde consectetur! - Dakota Jones</p>
                        </blockquote>
                        <p>Perspiciatis, tempore, voluptates! Officia minus quas illum nam, beatae modi libero, harum aliquid totam quia nostrum blanditiis accusamus a, illo unde consectetur! Velit, debitis molestias eveniet consequuntur sit temporibus, ullam.</p>
                        <p>Nobis maxime perferendis recusandae illo fugit, quas suscipit minima exercitationem laborum, amet fuga ipsum vero inventore dignissimos a maiores eaque!</p>
                    </div>
                </div>
                <p class="mb-5"><img src="~/Content/img/nadya-spetnitskaya-tOYiQxF9-Ys-unsplash.jpg" alt="" class="img-fluid"></p>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <blockquote class="float-right quote-content">
                            <span class="quote">&ldquo;</span>
                            <p class="text">My family has been going to Cupcakes and Cookies since before my time. I am happy I get to keep up the tradition in my family. - Marilyn Wright</p>
                        </blockquote>
                        <h2 class="mb-5">Founded in 1995</h2>
                        <p>Et asperiores exercitationem quaerat dolore qui vitae ex commodi suscipit amet fugit expedita rem deleniti, reprehenderit cum cumque in recusandae fugiat velit enim ipsum, tenetur voluptate! At fuga aliquam maiores.</p>
                        <p>Saepe eaque in, provident fugit, laudantium doloremque quasi et debitis aut possimus eligendi quos doloribus sequi nisi commodi soluta minus architecto numquam id. Facilis non iusto hic, cum temporibus repellendus.</p>
                        <p>Exercitationem animi at quo voluptatum saepe, perferendis quisquam sequi, officiis, nostrum laudantium sapiente delectus! Totam, cupiditate qui necessitatibus natus assumenda labore adipisci amet commodi accusamus esse, itaque obcaecati at libero!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

