@{
    ViewBag.Title = "Cupcakery";
}

<section class="section bg-light element-animate">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <a href="@Url.Action("Index", "Bakeries")"><img class="img-fluid img-thumbnail border-0" src="~/Content/img/caitlyn-de-wild-Rdj-546bmZ8-unsplash.jpg" /></a>
                <h4 class="mb-4 mt-4">Cupcakes</h4>
                <p>Choose from our wide selection of cupcakes! We have rotating flavors each season and cupcakes that are year around.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <a href="@Url.Action("Index", "Bakeries")"> <img class="img-fluid img-thumbnail border-0" src="~/Content/img/karlis-dambrans-oLHk_WLupSc-unsplash.jpg" /></a>
                <h4 class="mb-4 mt-4">Cookies</h4>
                <p>We offer classic cookie flavors! Our ooey gooey goodness will make you ask if grandma made this.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <a href="@Url.Action("Services", "Home")"><img class="img-fluid img-thumbnail border-0" src="~/Content/img/mario-calvo-rNCnhO8XCeQ-unsplash.jpg" /></a>
                <h4 class="mb-4 mt-4">Catering</h4>
                <p>Tell us when and where and  we will be there. Just give us a call or contact us online.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <a href="@Url.Action("Index", "Bakeries")"><img class="img-fluid img-thumbnail border-0" src="~/Content/img/priscilla-du-preez-BjhUu6BpUZA-unsplash.jpg" /></a>
                <h4 class="mb-4 mt-4">Online Ordering</h4>
                <p>Don't want to come into the bakery or live too far to visit. Order online! Guaranteed FRESH! </p>
            </div>
        </div>
    </div>
</section>
