@{
    ViewBag.Title = "Cupcakes and Cookies";
}

<section class="section bg-light element-animate">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <img  class="img-fluid img-thumbnail border-0"src="~/Content/img/caitlyn-de-wild-Rdj-546bmZ8-unsplash.jpg" />
                <h4 class="mb-4 mt-4">Cupcakes</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <img  class="img-fluid img-thumbnail border-0"src="~/Content/img/karlis-dambrans-oLHk_WLupSc-unsplash.jpg" />
                <h4 class="mb-4 mt-4">Cookies</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <img class="img-fluid img-thumbnail border-0" src="~/Content/img/mario-calvo-rNCnhO8XCeQ-unsplash.jpg" />
                <h4 class="mb-4 mt-4">Catering</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <img class="img-fluid img-thumbnail border-0" src="~/Content/img/priscilla-du-preez-BjhUu6BpUZA-unsplash.jpg" />
                <h4 class="mb-4 mt-4">Online Ordering</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
            </div>
        </div>
    </div>
</section>
