
@{
    ViewBag.Title = "Services";
}

<section class="section bg-light element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Our Services</h2>
                    <span class="back-text-dark">Cupcakery</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('../Content/img/person_3.jpg');"></div>
                    <div class="text order-1">
                        <h3>Catering</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                    </div>

                </div>
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('../Content/img/am-fl-WfKuwEcRLkE-unsplash.jpg');"></div>
                    <div class="text">
                        <h3>Weddings</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('../Content/img/wout-vanacker-l4HBYkURqvE-unsplash.jpg');"></div>
                    <div class="text order-1">
                        <h3>Special Occasions</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                    </div>
                </div>
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('../Content/img/behzad-ghaffarian-5JcdQfzR_YA-unsplash.jpg');"></div>
                    <div class="text">
                        <h3>Contact Us Today</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section> <!-- .section -->
@*<section class="section bg-light element-animate">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <span class="flaticon-cheers display-4 text-black d-block mb-4"></span>
                <h4 class="mb-4 text-primary">Drinks</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <span class="flaticon-fish display-4 text-black d-block mb-4"></span>
                <h4 class="mb-4 text-primary">Sea Foods</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <span class="flaticon-coffee-cup display-4 text-black d-block mb-4"></span>
                <h4 class="mb-4 text-primary">Cup Coffees</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
                <span class="flaticon-salad display-4 text-black d-block mb-4"></span>
                <h4 class="mb-4 text-primary">Fresh Salad</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
            </div>
        </div>
    </div>
</section>*@




