
@{
    ViewBag.Title = "Services";
}

@section styles {
<style>
    @@media (max-width: 992px) {
        .back-text-dark{
            font-size: 2em !important;
        }
    }

</style>
    }


<section class="section bg-light element-animate mainSection">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Our Services</h2>
                    <span class="back-text-dark">Cupcakery</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('../Content/img/person_3.jpg');"></div>
                    <div class="text order-1">
                        <h3>Catering</h3>
                        <p>We can offer a cupcake and cookie bar at any event. Worry Free!</p>
                    </div>

                </div>
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('../Content/img/am-fl-WfKuwEcRLkE-unsplash.jpg');"></div>
                    <div class="text">
                        <h3>Weddings</h3>
                        <p>Weddings are stressful but cake won't be, if it is done by Cupcakery!</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('../Content/img/wout-vanacker-l4HBYkURqvE-unsplash.jpg');"></div>
                    <div class="text order-1">
                        <h3>Special Occasions</h3>
                        <p>A special treat for your special occasion.</p>
                    </div>
                </div>
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('../Content/img/behzad-ghaffarian-5JcdQfzR_YA-unsplash.jpg');"></div>
                    <div class="text">
                        <h3>Contact Us Today</h3>
                        <p>Call or hit us up on our contact form. We will get back with you promptly.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>




